
.btn{
    padding: 10px;
    margin-left: 10px;
}
    
img{
    width: 110px;
    height: 110px;
    
}

.jumbotron
{
   
    background: url('../images/banner.JPG') no-repeat top center fixed;
    background-size: cover;
    color:#000000;
}

    
    
 
}